  
<section class="container-fluied">
  
<!--   
  <div class="row">
    <div class="col-4">

  <ul class='circle-container'>
  <li>
    <section class='event'  id='event'>
      <div class='cell well'>
       
      <div class='event-content'>
        <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
       
       
      </div>
      </div>
    </section>
  </li>
  <li>
    <section class='event'  id='event'>
      <div class='cell well'>
       
      <div class='event-content'>
        <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
       
       
      </div>
      </div>
    </section>
  </li>
  <li>
    <section class='event'  id='event'>
      <div class='cell well'>
       
      <div class='event-content'>
        <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
       
       
      </div>
      </div>
    </section>
  </li>
  <li>
    <section class='event'  id='event'>
      <div class='cell well'>
       
      <div class='event-content'>
        <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
       
       
      </div>
      </div>
    </section>
  </li>
  <li>
    <section class='event'  id='event'>
      <div class='cell well'>
       
      <div class='event-content'>
        <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
       
       
      </div>
      </div>
    </section>
  </li>
  <li>
    <section class='event'  id='event'>
      <div class='cell well'>
       
      <div class='event-content'>
        <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
      
      </div>
      </div>
    </section>
  </li>
  <li>
    <section class='event'  id='event'>
      <div class='cell well'>
       
      <div class='event-content'>
        <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
       
       
      </div>
      </div>
    </section>
  </li>
  <li>
    <section class='event'  id='event'>
      <div class='cell well'>
       
      <div class='event-content'>
        <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
       
       
      </div>
      </div>
    </section>
  </li>
</ul>
</div>
<div class="col-4">

    <ul class='circle-container'>
    <li>
      <section class='event'  id='event'>
        <div class='cell well'>
         
        <div class='event-content'>
          <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
         
         
        </div>
        </div>
      </section>
    </li>
    <li>
      <section class='event'  id='event'>
        <div class='cell well'>
         
        <div class='event-content'>
          <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
         
         
        </div>
        </div>
      </section>
    </li>
    <li>
      <section class='event'  id='event'>
        <div class='cell well'>
         
        <div class='event-content'>
          <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
         
         
        </div>
        </div>
      </section>
    </li>
    <li>
      <section class='event'  id='event'>
        <div class='cell well'>
         
        <div class='event-content'>
          <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
         
         
        </div>
        </div>
      </section>
    </li>
    <li>
      <section class='event'  id='event'>
        <div class='cell well'>
         
        <div class='event-content'>
          <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
         
         
        </div>
        </div>
      </section>
    </li>
    <li>
      <section class='event'  id='event'>
        <div class='cell well'>
         
        <div class='event-content'>
          <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
        
        </div>
        </div>
      </section>
    </li>
    <li>
      <section class='event'  id='event'>
        <div class='cell well'>
         
        <div class='event-content'>
          <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
         
         
        </div>
        </div>
      </section>
    </li>
    <li>
      <section class='event'  id='event'>
        <div class='cell well'>
         
        <div class='event-content'>
          <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
         
         
        </div>
        </div>
      </section>
    </li>
  </ul>
  </div>
  <div class="col-4">

      <ul class='circle-container'>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
          
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
    </ul>
    </div>

    <div class="row">
        <div class="col-4">
    
      <ul class='circle-container'>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
          
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
      <li>
        <section class='event'  id='event'>
          <div class='cell well'>
           
          <div class='event-content'>
            <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
           
           
          </div>
          </div>
        </section>
      </li>
    </ul>
    </div>
    <div class="col-4">
    
        <ul class='circle-container'>
        <li>
          <section class='event'  id='event'>
            <div class='cell well'>
             
            <div class='event-content'>
              <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
             
             
            </div>
            </div>
          </section>
        </li>
        <li>
          <section class='event'  id='event'>
            <div class='cell well'>
             
            <div class='event-content'>
              <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
             
             
            </div>
            </div>
          </section>
        </li>
        <li>
          <section class='event'  id='event'>
            <div class='cell well'>
             
            <div class='event-content'>
              <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
             
             
            </div>
            </div>
          </section>
        </li>
        <li>
          <section class='event'  id='event'>
            <div class='cell well'>
             
            <div class='event-content'>
              <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
             
             
            </div>
            </div>
          </section>
        </li>
        <li>
          <section class='event'  id='event'>
            <div class='cell well'>
             
            <div class='event-content'>
              <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
             
             
            </div>
            </div>
          </section>
        </li>
        <li>
          <section class='event'  id='event'>
            <div class='cell well'>
             
            <div class='event-content'>
              <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
            
            </div>
            </div>
          </section>
        </li>
        <li>
          <section class='event'  id='event'>
            <div class='cell well'>
             
            <div class='event-content'>
              <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
             
             
            </div>
            </div>
          </section>
        </li>
        <li>
          <section class='event'  id='event'>
            <div class='cell well'>
             
            <div class='event-content'>
              <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
             
             
            </div>
            </div>
          </section>
        </li>
      </ul>
      </div>
      <div class="col-4">
    
          <ul class='circle-container'>
          <li>
            <section class='event'  id='event'>
              <div class='cell well'>
               
              <div class='event-content'>
                <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
               
               
              </div>
              </div>
            </section>
          </li>
          <li>
            <section class='event'  id='event'>
              <div class='cell well'>
               
              <div class='event-content'>
                <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
               
               
              </div>
              </div>
            </section>
          </li>
          <li>
            <section class='event'  id='event'>
              <div class='cell well'>
               
              <div class='event-content'>
                <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
               
               
              </div>
              </div>
            </section>
          </li>
          <li>
            <section class='event'  id='event'>
              <div class='cell well'>
               
              <div class='event-content'>
                <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
               
               
              </div>
              </div>
            </section>
          </li>
          <li>
            <section class='event'  id='event'>
              <div class='cell well'>
               
              <div class='event-content'>
                <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
               
               
              </div>
              </div>
            </section>
          </li>
          <li>
            <section class='event'  id='event'>
              <div class='cell well'>
               
              <div class='event-content'>
                <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
              
              </div>
              </div>
            </section>
          </li>
          <li>
            <section class='event'  id='event'>
              <div class='cell well'>
               
              <div class='event-content'>
                <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
               
               
              </div>
              </div>
            </section>
          </li>
          <li>
            <section class='event'  id='event'>
              <div class='cell well'>
               
              <div class='event-content'>
                <img src='https://previews.123rf.com/images/asmati/asmati1702/asmati170212257/72968786-office-chair-sign-vector-white-icon-in-red-circle-on-white-background-isolated-.jpg' alt='SweetLandia' id='sweetlandia' width='200' />
               
               
              </div>
              </div>
            </section>
          </li>
        </ul>
        </div>
  </div>
  -->