.circle-container {
    position: relative;
    /* Size of the circle */
    width: 15em;
    height: 15em;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    /* 2 */
    box-sizing: content-box;
    /* 3 */
    margin: 2em 5em ;
    border: solid 5px rgb(51, 0, 0);
    float: left;
  }
  .circle-container > * {
    /* 4 */
    display: block;
    position: absolute;
    top: 58%;
    left: 59%;
    width: 3em;
    height: 3em;
    margin: -3em;
  }
  .circle-container > :nth-of-type(1) {
    transform: rotate(0deg) translate(7.5em) rotate(0deg);
  }
  .circle-container > :nth-of-type(2) {
    transform: rotate(45deg) translate(7.5em) rotate(-45deg);
  }
  .circle-container > :nth-of-type(3) {
    transform: rotate(90deg) translate(7.5em) rotate(-90deg);
  }
  .circle-container > :nth-of-type(4) {
    transform: rotate(135deg) translate(7.5em) rotate(-135deg);
  }
  .circle-container > :nth-of-type(5) {
    transform: rotate(180deg) translate(7.5em) rotate(-180deg);
  }
  .circle-container > :nth-of-type(6) {
    transform: rotate(225deg) translate(7.5em) rotate(-225deg);
  }
  .circle-container > :nth-of-type(7) {
    transform: rotate(270deg) translate(7.5em) rotate(-270deg);
  }
  .circle-container > :nth-of-type(8) {
    transform: rotate(315deg) translate(7.5em) rotate(-315deg);
  }
  
  .circle-container img {
    display: block;
    width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
  }
  .circle-container img:hover {
    filter: grayscale(0);
  }
  
  .selected{
    background-color: #66FF66 !important ;
  }
  .selectedOther{
    background-color: rgb(255, 184, 102) !important ;
  }

  .taken{
    background-color: rgb(51, 0, 0) ;
  }
