<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<h1>Admin</h1>
<h2>Users List:</h2>

<div class="">
    <div class="row">
        <div class="span12">
            <ul class="thumbnails">
                <li class="span5 clearfix" *ngFor="let user of users">
                    <div class="thumbnail clearfix">
                    <img src="http://www.stickpng.com/assets/images/585e4bcdcb11b227491c3396.png" alt="User" class="pull-left clearfix" width="140" style='margin-right:10px'>
                    <h4>      
                        <a href="#" >{{user.username}}</a>
                    </h4>
                    <div class="caption" class="pull-left">
                        <small><b>Full Name: </b>{{user.firstName + " " + user.lastName}}</small>  
                        <br />
                        <small><b>User Role: </b>{{user.role }}</small>  
                        <br />
                        <small><b>User Location: </b>{{user.lat + " " + user.lng }}</small>  
                        <br />
                        <!--<a href="/admin" class="btn btn-primary icon">Edit</a> -->
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>