<h2> Reservation</h2>
<hr class="style-seven">
     
         
          <form>
              <div class="form-group">
                  <label>What's your name?</label>
                  <input id="name" type="text" class="form-control" />
                 
              </div>
              <div class="form-group">
                  <label>How many are you?</label>
                  <input id="attendies" class="form-control" list="attendies-list" />
                  <datalist id="attendies-list">
                    <option> 1 </option>
                    <option> 2 </option>
                    <option> 3 </option>
                    <option> 4 </option>
                    <option> 5 </option>
                    <option> 6 </option>
                    <option> 7 </option>
                    <option> 8 </option>
                  </datalist>
              </div>
              <div class="form-group">
                  <label>When are you coming?</label>
                  <input type="text" id="reservation-time" class="form-control" />
              </div>
              
              <div id="buttons">
                  <button id="add-btn" class="btn yellow">Approve reservation</button>
                  <span class="shadow"></span>

             
              </div>

            </form>