@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');

html, body { height: 100%; }
body {
	margin: 0  !important;
	font-family: 'Happy Monkey', cursive !important;
	background: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9') no-repeat !important;
	background-size:cover !important;
	color: snow !important;
}
.clickedTable{
	background-color: #66FF66;
}
