@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');

html, body { height: 100%; }
body {
     margin: 0; 
     font-family: 'Happy Monkey', cursive;
     background: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9') no-repeat;
     background-size:cover;
     color: snow
}

