@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');

html, body { height: 100%; }
body {
	margin: 0  !important;
	font-family: 'Happy Monkey', cursive !important;
	background: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80') no-repeat !important;
	background-size:cover !important;
	color:#2b0f09;
}
.clickedTable{
	background-color: #66FF66;
}
